<html>
  <style>
    body {
      background: url("https://wallpaperaccess.com/full/1447475.jpg");
    }
  </style>

  <body>
    <p>.</p>
    <div *ngFor="let pizza of pizzas">
      <div
        class="card"
        style="
          width: 18rem;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
        "
      >
        <img
          class="card-img-top"
          src="https://www.pizzavenetia.ro/image/cache/catalog/Categorii/PIZZA/9%20Pizza%20Casei%20Venetia/pizza-casei-700x700.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ pizza.name }}</h5>
          <p class="card-text">Ingredients: {{ pizza.ingredients }}</p>
          <p class="card-text">Price: {{ pizza.price }}$</p>
          <a
            type="button"
            class="btn btn-outline-danger"
            [routerLink]="['/all_recipes', 'edit', pizza.id]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              ></path>
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              ></path>
            </svg>
            Edit Recipe
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
