<div class="container my-5">
  <h1 class="mb-3">Add New Pizza</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="addPizza()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="addPizzaRequest.name"
          />
        </div>

        <div class="form-group">
          <label for="ingredients">Ingredients</label>
          <input
            type="text"
            class="form-control"
            id="ingredients"
            name="ingredients"
            [(ngModel)]="addPizzaRequest.ingredients"
          />
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            [(ngModel)]="addPizzaRequest.price"
          />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
